<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Chat</title>
    <link id="favicon" rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 110 100%22><text y=%22.9em%22 font-size=%2290%22>🍉</text></svg>">

    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
        crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cambay">

    <link rel="stylesheet" href="/static/css/base.css">
    <script defer src="/static/js/main_script.js"></script>
    <script defer src="/static/js/validation.js"></script>

</head>

<body>
    <button id="show-menu" class="mobile-show-menu">≡</button>

    <div id="navbar" class="navbar">
        <ul>
            <li><a href="{{ url_for('social.home') }}">Home</a></li>

            {% if total_unread_messages > 0 %}
                <li><a id="messages-link" class="messages-link" style="width:auto;" href="{{ url_for('social.messages') }}">Messages <span id="unread-navbar" class="unread-dot">{{ total_unread_messages }}</span></a></li>
            {% else %}
                <li><a id="messages-link" class="messages-link" href="{{ url_for('social.messages') }}">Messages</a></li>
            {% endif %}
            
            <li><a href="{{ url_for('social.friends') }}">Friends</a></li>
             {% if current_user.is_admin %}
                 <li><a href="/admin">Admin panel</a></li>
             {% endif %}
             <li><a href="{{ url_for('users.my_profile') }}">Profile</a></li>
             <li><a class="logout" href="{{ url_for('users.logout') }}">Log Out</a></li>
        </ul>
        <hr>
    </div>
    <div class="main-page">
        <div class="chat" id="chat">
            <h2>Chat</h2>
            {% if unread_messages|length == 0 and seen_messages|length == 0 %}
                <h3 id="no-msg" class="no-msg">No messages yet :(</h3>
            {% else %}
            
                {% for message in seen_messages %}
                    {% if message.user_id == current_user.id %}
                        <div class="self-message">
                            <p class="self-text">
                                <span class="self-name">{{ message.user.username }}:</span>
                                {{ message.text }}
                            </p>
                        </div>
                        <p class="self-msg-time">
                            {{ (message.date - hours_delta).strftime("%d/%m/%Y %H:%M:%S") }}
                        </p>
                    {% else %}
                        <div class="other-message">
                            <p class="other-text">
                                {% if is_online %}
                                    <span class="online-dot">•</span>
                                {% else %}
                                    <span class="offline-dot">•</span>
                                {% endif %}
                                <span class="other-name">
                                    {{ message.user.username }}: 
                                </span>
                                {{ message.text }}
                            </p>
                        </div>
                        <p class="other-msg-time">
                            {{ (message.date - hours_delta).strftime("%d/%m/%Y %H:%M:%S") }}
                        </p>
                    {% endif %}
                {% endfor %}
        
                {% if unread_messages|length > 0 %}
                    <div id="unread-msg" class="unread-delimiter">
                        <p class="unread-msg-line-text">Unread Messages</p>
                        <hr class="unread-line">
                        <hr class="unread-line">
                    </div>
                {% endif %}
        
                {% for message in unread_messages %}
                    <div class="other-message">
                        <p class="other-text">
                            {% if is_online %}
                                <span class="online-dot">•</span>
                            {% else %}
                                <span class="offline-dot">•</span>
                            {% endif %}
                            <span class="other-name">
                                {{ message.user.username }}: 
                            </span>
                            {{ message.text }}
                        </p>
                    </div>
                    <p class="other-msg-time">
                        <span class="new-badge">NEW</span>
                        {{ (message.date - hours_delta).strftime("%d/%m/%Y %H:%M:%S") }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="input-area">
            <form id="message_form" method="POST">
                <textarea type="text" id="message_text_area" class="message-input" maxlength="1000" placeholder="Type here..."></textarea> 
                <p class="msg-limit-verdict" id="server_verdict">Limit 1000 characters</p>
                <input id="send-button" class="send-button" value="Send" type="submit" />
            </form>
        </div>
    </div>
</body>
</html>
