{% extends 'base.html' %}

{% block title %}
Friends
{% endblock %}

{% block body %}

<div class="friends">
    {% if items|length > 0 %}
        <h2>Friends of {{ current_user.username }}</h2>

        <hr class="friend-delimiter">

        {% for item in items %}
            {% set friend = item[0] %}
            {% set is_online = item[1] %}
            <div class="friend">
                <p class="online-status">
                    Status: 
                    {% if is_online %}
                        <span class="online">online</span> 
                    {% else %}
                        <span class="offline">offline</span> 
                    {% endif %}
                </p>

                <p class="friend-name">
                    Username: 
                    <span>{{ friend.username }}</span>
                </p>
            </div>

            <div class="manage-friend">
                <a href="{{ url_for('social.start_chat', other_id=friend.id) }}" class="start-chat">Start Chat</a>
                <a href="{{ url_for('social.remove_friend', friend_id=friend.id) }}" class="remove-friend">Remove friend</a>
            </div>

            <hr class="friend-delimiter">

        {% endfor %}
    {% else %}
        <div class="no-friends-msg">
            <p>Oh no, you have no friends :(</p>
        </div>
    {% endif %}
</div>

{% endblock %}
