{% extends 'base.html' %}

{% block title %}
Messages
{% endblock %}

{% block body %}
<div class="chats">
    <h2>Chats</h2>

    {% if chats_with_unread_messages|length > 0 %}
        {% for item in chats_with_unread_messages %}
            {% set chat = item[0] %}
            {% set unread_messages_number = item[1] %}
            {% set is_online = item[2] %}

            <div id="chat{{ chat.id }}">
                {% if chat.users[0].id == current_user.id %}
                    {% if is_online %}
                        <p class="online-dot">•</p>
                    {% else %}
                        <p class="offline-dot">•</p>
                    {% endif %}

                    <a class="chat-link" href="{{ url_for('social.chat', id=chat.id) }}">{{ chat.users[1].username }}</a>
                    
                {% else %}
                    {% if is_online %}
                        <p class="online-dot">•</p>
                    {% else %}
                        <p class="offline-dot">•</p>
                    {% endif %}
                    <a class="chat-link" href="{{ url_for('social.chat', id=chat.id) }}">{{ chat.users[0].username }}</a>
                    
                {% endif %}

                {% if unread_messages_number > 0 %}
                    <p class="unread-msg"> <span id="unread_msg_chat{{ chat.id }}" class="unread-msg">{{ unread_messages_number }}</span> unread</p>
                {% endif %}
            </div>
            
        {% endfor %}
    {% else %}
        <h2 class="text-center">No chats yet :(</h2>
    {% endif %}
</div>

{% endblock %}
