{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block body %}
    <div class="edit-area">
        <h2 class="header">Profile Information</h2>

        <h3>Edit username: </h3>
        
        <form class="edit-form" autocomplete="off" method="POST">
            <input class="username-input" type="text" onkeyup="validate()" name="username" id="username" value="{{ user.username }}" placeholder="Username" maxlength="15">
            <input class="edit-button" type="submit" id="submit" value="Edit">
            <span class="{{ span_class }}" id="username_verdict">{{ message }}</span>
        </form>

        <a href="/delete" class="remove-friend">Delete account</a>
    </div>
{% endblock %}
