html, body {
    margin: 0;
    height: 100%;
    font-family: 'Cambay', sans-serif;
}

div.background {
    margin: 0;
    background: linear-gradient(90deg, #ff0, #0ff);
    height: 100%;
}

div.signup-background {
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#fff, #00f, #f00);
    position: absolute;
    z-index: 100;
}

div.signup-background::before {
    border-radius: inherit;
    border: inherit;
    background-image: linear-gradient(#fff 33.33%, #00f 33.33%, #00f 66.66%, #f00 66.66%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    animation-name: animate-grad;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes animate-grad {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.box {
    background-color: #191919;
    height: 70%;
    width: 45%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border-radius: 20px;
}


div.box h1 {
    color: #fff;
    margin-top: 3%;
    margin-bottom: 0;
    height: 60px;
    padding: 0;
    font-size: 2.4rem;
    font-weight: 100;
    text-align: center;
}

div.box p.text-muted {
    color: #706c6c;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

p.verdict {
    visibility: hidden;
    text-align: center;
    height: 23px;
    margin: 5px 3px
}

div.box p.valid {
    visibility: visible;
    color:#2ecc71;
}

div.box p.invalid {
    visibility: visible;
    color: red;
}

div.box input {
    display: block;
    margin: auto;
    border: 2px solid #24a340;
    padding: 10px 50px;
    text-align: center;
    background-color: #191919;
    color: #fff;
    border-radius: 24px;
    font-size: 1em;
    width: 25%;
    transition: 100ms ease-out;
    outline: none;
}

div.box input:hover {
    background-color: rgb(59, 56, 56);
}

div.box input:focus {
    width: 30%;
    border-color: #0fcf9f;
}

form {
    text-align: center;
}

a.signup {
    text-decoration: none;
    color: #ff0;
    transition: 250ms;
    padding: 0 7px;
    border-width: 0;
    border-radius: 24px;
}

a.signup:hover {
    background-color: #0ff;
    color: #000;
}

button.submit {
    display: block;
    background: none;
    color: #fff;
    border: 2px solid #24a340;
    border-radius: 24px;
    font-size: 1.1em;
    text-align: center;
    margin: 10px auto;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 350ms;
}

button.submit:hover {
    background-color: #24a340;
}

@media screen and (max-width: 650px),
       screen and (max-height: 550px) {
    
    
    div.background {
        background: #191919;
    }

    div.signup-background {
        background: #191919;
    }

    div.signup-background::before {
        background: #191919;
        animation: none;
    }

    div.box {
        width: 100%;
        height: 100%;
        padding-top: 20%;
        border-radius: 0;

        overflow: auto;
    }

    div.box input {
        padding: 10px 50px;
    }

    div.box input:focus {
        border-color: #0fcf9f;
    }
}
